:root {
  --font-color: #eeeeee;
  --bg-color: #1a1a1d;
  --accent-color: #ff6500;
  --link-hover-color: #ffaa3d;
  --footer-bg-color: #2a2a2e;
  --footer-border-color: #ff6500;
  --footer-text-color: lightgray;
  --box-shadow-color: rgba(0, 0, 0, 0.2);
}
html {
  scroll-behavior: smooth;
}

/*!body*/
body {
  font-family:Comic Sans MS, Comic Sans, cursive;
  font-weight: normal;
  background-color: var(--bg-color);
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  color: var(--font-color);
}

/*nav bar*/
nav {
  width: 100vw;
  display: flex;
  height: 7vh;
  background-color: var(--accent-color);
  align-items: center;
  justify-content: center;
  position: sticky;
  top: 0;
  z-index: 1;
  font-size: 0.9em;
}

#phone {
  margin-right: auto;
  margin-left: 31px;
  display: flex;
  align-items: center;
  justify-content: center;
  display: none;
}

#phone > a {
  text-decoration: none;
  color: var(--font-color);
  padding-left: 1vh;
  transition: opacity 0.3s;
}

#phone > a:hover {
  opacity: 0.5;
}

#phone > img {
  height: 2vh;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: right;
}

nav ul li {
  margin: 2px 15px;
}

nav ul li a {
  color: var(--font-color);
  text-decoration: none;
  padding: 16px 6px;
  transition: opacity 0.3s;
}

nav ul li a:hover {
  opacity: 0.5;
}

/*main content*/
main {
  text-align: center;
  overflow: visible;
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
  height: fit-content;
}

/*main top side*/
#main1 {
  width: 100%;
  height: fit-content;
  opacity: 0;
  text-align: center;
  align-items: center;
  padding-bottom: 20px;
  animation: slideIn2 1.5s ease-in-out forwards;
}

#main1 #title {
  text-align: left;
  padding-left: 30px;
}
.topSellers {
  opacity: 0;
  border-bottom: #ff6500 1px solid;
  animation: opacityChange 1s 2s forwards;
}

.tS {
  border-bottom: var(--accent-color) 1px solid;
  padding: 10px;
}
.tS.visible {
  opacity: 1;
  transform: translateY(0); /* End state */
}

#content1 {
  opacity: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 5vw;
  background-size: cover;
  margin: 0;
  padding: 0;
  width: 100%;
  height: max-content;
  animation: opacityChange 2s 2s forwards;
  align-items: center;
  justify-content: center;
}
.item {
  background-color: var(--footer-bg-color);
  border-radius: 10px;
  box-shadow: 0 4px 6px var(--box-shadow-color);
  padding: 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
 height: 500px;
  transition-duration: 1s;
}
.item img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 10px;
  transition: transform 0.3s;
}
.item img:hover {
  transform: scale(1.05);
}

.item h3 {
  color: var(--accent-color);
  font-size: 1.8em;
  margin: 10px 0;
}

.item p {
  font-size: 1.1em;
}
.item:hover {
  cursor: pointer;
  transform: translateY(-5px);
  box-shadow: 0 6px 12px var(--box-shadow-color);
}

/* main-combos */
header {
  text-align: center;
  width: 100vw;
  background-color: var(--accent-color);
  color: var(--font-color);
}

header h1 {
  font-size: 2.5em;
  margin-bottom: 10px;
}

header p {
  font-size: 1.2em;
  margin-bottom: 30px;
}

#combos {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 20px;
  animation: fadeIn 1.5s ease-out;
}

.combo-item {
  background-color: var(--footer-bg-color);
  border-radius: 10px;
  box-shadow: 0 4px 6px var(--box-shadow-color);
  padding: 20px;
  text-align: center;
  transform: translateY(0px);
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 250px;
  height: 400px;
  transition: transform 1s;
}

.combo-item img {
  transition-duration: 1s;
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 10px;
}

.combo-item img:hover {
  transform: scale(1.05);
}

.combo-item h3 {
  color: var(--accent-color);
  font-size: 1.8em;
  margin: 10px 0;
}

.combo-item p {
  font-size: 1.1em;
}

.price {
  font-size: 1.4em;
  color: var(--accent-color);
  font-weight: bold;
  text-transform: uppercase;
}

.combo-item:hover {
  cursor: pointer;

  transform: translateY(-5px);
  box-shadow: 0 6px 12px var(--box-shadow-color);
}

footer {
  text-align: center;
  background-color: var(--bg-color);
  color: var(--font-color);
  padding: 20px;
  border-top: 2px solid var(--footer-border-color);
}

footer p {
  font-size: 0.9em;
  color: var(--footer-text-color);
}

/*main bottom  side*/
#main2 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
  align-items: center;
  justify-content: center;
}
.item2 {
  transition-duration: 1s;
  background-color: var(--footer-bg-color);
  box-shadow: 0 4px 6px var(--box-shadow-color);
  height: 350px;
  width: 350px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.item2:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 12px var(--box-shadow-color);
}

.text {
  height: 90%;
}

.item2 button {
  background-color: var(--accent-color);
  border-radius: 20px;
  border: #2a2a2e 1px solid;
  width: 100px;
  height: 40px;
  margin-bottom: 15px;
}

.item2 button:hover {
  cursor: pointer;
  background-color: var(--link-hover-color);
  transition-duration: 0.5s;
}

.item2-1 {
  background-image: url("assets/5643684.png");
  background-position: bottom;
  background-size: 80%;
  background-repeat: no-repeat;
}

.item2-2 {
  background-image: url("assets/294399_service_business_bell_customer\ service_important_icon.png");
  background-position: bottom;
  background-size: 80%;
  background-repeat: no-repeat;
}

.item2-3 {
  background-image: url("assets/6071826_delivery_food_meal_order_food\ delivery_icon.png");
  background-position: bottom;
  background-size: 80%;
  background-repeat: no-repeat;
}

/*footer*/
footer {
  text-align: center;
  background-color: var(--bg-color);
  color: var(--font-color);
  padding: 20px;

  border-top: 2px solid var(--footer-border-color);
}

footer #contact-info {
  padding: 20px;
  border-radius: 10px;
  background-color: var(--footer-bg-color);
  box-shadow: 0px 4px 6px var(--box-shadow-color); /*jebta men hon https://www.youtube.com/watch?v=jEuvbVVkcT0 */
}

footer #contact-info h2,
footer #contact-info h3 {
  color: var(--accent-color);
  margin-bottom: 10px;
}

footer #contact-info p {
  font-size: 1em;
}

footer h1 {
  font-size: 1.5em;
  color: var(--accent-color);
  margin-bottom: 10px;
}

footer ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  justify-content: center;
  gap: 20px;
}
footer ul li {
  transition: transform 0.5s;
}
footer ul li:hover {
  transform: scale(1.05);
}

footer ul li a {
  text-decoration: none;
  color: var(--accent-color);
  font-size: 1em;
}

footer ul li a:hover {
  color: var(--link-hover-color);
  transform: scale(1.1);
}

footer p {
  font-size: 0.9em;
  color: var(--footer-text-color);
}
/*!locations*/
.row {
  height: 30vh;
  width: 100vw;
  max-width: 500px;

  display: flex;
  overflow: visible;
  align-items: center;
  justify-content: center;
}
.c11 {
  width: 30%;
  height: 100%;
  border-radius: 10% 10% 50% 10%;
  margin-top: 22vh;
  margin-right: 1vw;
  background-image: url("assets/beirut\ 2.jpg");
  background-size: cover;
  background-repeat: no-repeat;

  animation: slideIn 1s 1.4s ease-in-out backwards;
}
.c12 {
  width: 40%;
  height: 100%;
  border-radius: 30%;
  margin-bottom: 2vh;
  background-image: url("assets/baalbek.jpg");
  background-size: cover;
  background-repeat: no-repeat;

  animation: slideIn4 1s 0.5s ease-in-out backwards;
}
.c13 {
  width: 30%;
  height: 100%;
  border-radius: 10% 10% 10% 50%;
  margin-top: 22vh;
  margin-left: 1vw;
  background-image: url("assets/byblos.jpg");
  background-size: cover;
  background-repeat: no-repeat;

  animation: slideIn2 1s 1.4s ease-in-out backwards;
}

.c22 {
  width: 50%;
  height: 100%;
  border-radius: 50%;
  background-image: url("assets/beirut.jpg");
  background-size: cover;
  background-repeat: no-repeat;

  animation: opacityChange 2s 0.3s ease-in-out backwards;
}

.c31 {
  width: 30%;
  height: 100%;
  border-radius: 10% 50% 10% 10%;
  margin-bottom: 22vh;
  margin-right: 1vw;
  background-image: url("assets/saida.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  animation: slideIn2 1s 1.4s ease-in-out backwards;
}
.c32 {
  width: 40%;
  height: 100%;
  border-radius: 30%;
  margin-top: 2vh;
  background-image: url("assets/tyre.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  animation: slideIn3 1s 0.5s ease-in-out backwards;
}
.c33 {
  width: 30%;
  height: 100%;
  border-radius: 50% 10% 10% 10%;
  margin-bottom: 22vh;
  margin-left: 1vw;
  background-image: url("assets/tyre\ 2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  animation: slideIn 1s 1.4s backwards;
}
.c {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

  background-position: top;
  background-color: var(--footer-bg-color);
  border: 2px solid var(--accent-color);
  transition-duration: 1s;
}
.c:hover {
  cursor: pointer;
  transform: scale(1.1);
}

#wrapperLocations {
  margin-top: 10px;

  margin-left: auto;
  margin-right: auto;
}
/* jobs.html */
.form-container {
  text-overflow: ellipsis;
  background-color: var(--footer-bg-color);
  padding: 20px 30px;
  border-radius: 10px;
  box-shadow: 0 4px 8px var(--box-shadow-color);
  width: 70%;
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
}

.form-container p {
  text-align: center;
  margin-bottom: 20px;
  color: var(--footer-text-color);
}

.form-group {
  margin-bottom: 15px;
}

.form-container label {
  display: block;
  margin-bottom: 5px;
  color: var(--font-color);
  position: relative;
  right: 15px;
}

.form-container input,
select,
textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid var(--box-shadow-color);
  border-radius: 5px;
  background-color: var(--bg-color);
  color: var(--font-color);
  font-family: inherit;
  position: relative;
  right: 15px;
}
.form-container textarea {
  resize: none;
}

.form-container input:focus,
select:focus,
textarea:focus {
  transition-duration: 1s;
  outline: none;
  border-color: var(--accent-color);
}

.form-container button {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: var(--accent-color);
  color: var(--font-color);
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.form-container button:hover {
  background-color: var(--link-hover-color);
}
/* menu */
.menu {
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  background-color: var(--bg-color);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.menu h1 {
  text-align: center;
}
.menu fieldset {
  border-radius: 30px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.img-label {
  width: 100px;
  height: fit-content;

  border-radius: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.img-label img {
  width: 70px;
  height: 75px;
  border-radius: 50%;
  border: var(--accent-color) 2px solid;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.menu-item {
  height: fit-content;
  background-color: var(--footer-bg-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 0;
  padding: 10px;
  border-bottom: 1px solid var(--accent-color);
  border-radius: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.wrapper {
  display: flex;
  flex-direction: column;
  gap: 3px;
}
.menu input {
  background-color: var(--accent-color);
  border: solid 2px black;
  border-radius: 20px;
  padding: 10px;
}
#cart {
  justify-content: center;
  text-align: center;
  border-top: #ff6500 1px solid;
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  background: var(--bg-color);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.menu button,
#cart button {
  padding: 10px;

  background-color: var(--accent-color);
  border: 1px solid var(--bg-color);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
}
.menu button:hover,
#cart button:hover {
  cursor: pointer;
  background-color: var(--link-hover-color);
  transition-duration: 1s;
}
/* about page */






 #wrapper-about h1, #wrapper-about h2, #wrapper-about h3 {
    margin: 0;
    color: var(--accent-color);
}

#wrapper-about a {
    color: var(--accent-color);
    text-decoration: none;
    transition: color 0.3s ease;
}

#wrapper-about a:hover {
    color: var(--link-hover-color);
}

#wrapper-about img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}

/* Wrapper */
#wrapper-about {
  background-color: var(--bg-color);
 
    max-width: 1200px;
    margin: 0 auto;
    padding: 2rem 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;

}

#wrapper-about header {
    text-align: center;
    padding: 10px;
    background-color: var(--accent-color);
    color: white;
    box-shadow: 0 2px 5px var(--box-shadow-color);
}

#wrapper-about header h1 {
  color: #eeeeee;
    font-size: em;
}

#wrapper-about header p {
    font-size: 1.2rem;
    margin-top: 1rem;
}

#wrapper-about main {
    margin-top: 2rem;
}

#wrapper-about .section {
    margin-bottom: 2rem;
    padding: 1.5rem;
    background: var(--footer-bg-color);
    box-shadow: 0 2px 10px var(--box-shadow-color);
    border-radius: 5px;
}

#wrapper-about .section h2 {
    margin-bottom: 1rem;
}

#wrapper-about .btn {
    display: inline-block;
    padding: 0.8rem 1.5rem;
    color: white;
    background-color: var(--accent-color);
    border-radius: 5px;
    font-weight: bold;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

#wrapper-about .btn:hover {
    background-color: var(--link-hover-color);
}



  
  

/*animations*/
@keyframes slideIn2 {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideIn {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slideIn3 {
  from {
    transform: translateY(100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes slideIn4 {
  from {
    transform: translateY(-100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes opacityChange {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slideUp {
  from {
    transform: translateY(30px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
/*media queries*/
@media screen and (min-width: 0px) {
  nav {
    height: 7vh;

    font-size: 0.9em;
  }

  /*main top side*/

  .topSellers {
    font-size: 2em;
  }

  .item {
    border-radius: 10px;

    padding: 20px;

    width: 130px;
  }
}
@media screen and (min-width: 481px) {
  nav {
    height: 7vh;

    font-size: 1.2em;
  }

  #main1 #title {
    text-align: left;
    padding-left: 30px;
    font-size: 1.5em;
  }

  .tS {
    border-bottom: var(--accent-color) 1px solid;
    padding: 10px;
    font-size: 1.3em;
  }

  #content1 {
    gap: 20px;
  }
  .item {
    padding: 20px;

    width: 200px;
  }

  .item2 button {
    font-size: 1em;

    border-radius: 20px;

    width: 150px;
    height: 50px;
    margin-bottom: 15px;
  }

  /*footer*/

  /*!locations*/
  #wrapperLocations {
    margin-top: 20px;

    margin-left: auto;
    margin-right: auto;
  }
  .row {
    height: 30vh;
    width: 100vw;
    max-width: 700px;
  }

  .c22 {
    max-width: 300px;
    width: 50%;
    height: 100%;
    border-radius: 50%;
    background-image: url("assets/beirut.jpg");
    background-size: cover;
    background-repeat: no-repeat;

    animation: opacityChange 2s 0.3s ease-in-out backwards;
  }

  /* menu */

  .menu h1 {
    font-size: 3em;
  }

  .img-label {
    width: 150px;
  }

  .img-label img {
    width: 80px;
    height: 80px;
  }

  .wrapper {
    gap: 10px;
  }

  .menu button,
  #cart button {
    padding: 12px;
    font-size: 1em;
  }
}

@media screen and (min-width: 768px) {
  nav {
    height: 7vh;

    font-size: 1.4em;
  }

  #main1 #title {
    text-align: left;
    padding-left: 30px;
    font-size: 1.5em;
  }

  .tS {
    border-bottom: var(--accent-color) 1px solid;
    padding: 10px;
    font-size: 1.3em;
  }

  #content1 {
    gap: 15px;
  }
  .item {
    padding: 20px;

    width: 220px;
  }
  .item2 {
    font-size: 1.3em;
  }
  .item2 button {
    font-size: 1em;

    border-radius: 20px;

    width: 150px;
    height: 50px;
    margin-bottom: 15px;
  }

  /*footer*/
  footer {
    font-size: 1.2em;
  }

  /*!locations*/
  #wrapperLocations {
    margin-top: 50px;

    margin-left: auto;
    margin-right: auto;
  }
  .row {
    height: 25vh;
    width: 100vw;
    max-width: 700px;
  }

  .c22 {
    max-width: 300px;
    width: 50%;
    height: 100%;
    border-radius: 50%;
    background-image: url("assets/beirut.jpg");
    background-size: cover;
    background-repeat: no-repeat;

    animation: opacityChange 2s 0.3s ease-in-out backwards;
  }

  /* menu */
  .menu {
    font-size: 1.3em;
  }
  .menu h1 {
    font-size: 3em;
  }

  .img-label {
    width: 150px;
  }

  .img-label img {
    width: 80px;
    height: 80px;
  }

  .wrapper {
    gap: 10px;
  }

  .menu button,
  #cart button {
    padding: 12px;
    font-size: 1em;
  }
}
@media screen and (min-width: 1024px) {
  nav {
    height: 7vh;
    justify-content: end;
    font-size: 1.4em;
  }
  #phone {
    display: unset;
  }

  #main1 #title {
    text-align: left;
    padding-left: 30px;
    font-size: 1.5em;
  }

  .tS {
    border-bottom: var(--accent-color) 1px solid;
    padding: 10px;
    font-size: 1.3em;
  }

  #content1 {
    gap: 15px;
  }
  .item {
    padding: 20px;

    width: 220px;
  }
  .item2 {
    font-size: 1.3em;
  }
  .item2 button {
    font-size: 1em;

    border-radius: 20px;

    width: 150px;
    height: 50px;
    margin-bottom: 15px;
  }

  /*footer*/
  footer {
    font-size: 1.2em;
  }

  /*!locations*/
  #wrapperLocations {
    margin-top: 20px;

    margin-left: auto;
    margin-right: auto;
  }
  .row {
    height: 30vh;
    width: 100vw;
    max-width: 700px;
  }

  .c22 {
    max-width: 300px;
    max-height: 300px;
    width: 50%;
    height: 100%;
    border-radius: 50%;
    background-image: url("assets/beirut.jpg");
    background-size: cover;
    background-repeat: no-repeat;

    animation: opacityChange 2s 0.3s ease-in-out backwards;
  }

  /* menu */
  .menu {
    font-size: 1.3em;
  }
  .menu h1 {
    font-size: 3em;
  }

  .img-label {
    width: 150px;
  }

  .img-label img {
    width: 80px;
    height: 80px;
  }

  .wrapper {
    gap: 10px;
  }

  .menu button,
  #cart button {
    padding: 12px;
    font-size: 1em;
  }
}

@media screen and (min-width: 1200px) {
  nav {
    height: 7vh;
    justify-content: end;
    font-size: 1.2em;
  }
  #phone {
    display: unset;
  }

  #main1 #title {
    text-align: left;
    padding-left: 30px;
    font-size: 1.5em;
  }

  .tS {
    border-bottom: var(--accent-color) 1px solid;
    padding: 10px;
    font-size: 1.3em;
  }

  #content1 {
    gap: 15px;
  }
  .item {
    padding: 20px;

    width: 220px;
  }
  .item2 {
    font-size: 1.3em;
  }
  .item2 button {
    font-size: 0.6em;

    border-radius: 20px;

    width: 130px;
    height: 50px;
    margin-bottom: 15px;
  }

  /*footer*/
  footer {
    font-size: 1.2em;
  }

  /*!locations*/
  #wrapperLocations {
    margin-top: 20px;

    margin-left: auto;
    margin-right: auto;
  }
  .row {
    height: 30vh;
    width: 100vw;
    max-width: 700px;
  }

  .c22 {
    max-width: 300px;
    max-height: 300px;
    width: 50%;
    height: 100%;
    border-radius: 50%;
    background-image: url("assets/beirut.jpg");
    background-size: cover;
    background-repeat: no-repeat;

    animation: opacityChange 2s 0.3s ease-in-out backwards;
  }

  /* menu */
  .menu {
    font-size: 1em;
  }
  .menu h1 {
    font-size: 3em;
  }

  .img-label {
    width: 150px;
  }

  .img-label img {
    width: 80px;
    height: 80px;
  }

  .wrapper {
    gap: 10px;
  }

  .menu button,
  #cart button {
    padding: 12px;
    font-size: 1em;
  }
}
